@page "/"
@using Passwork.Client.Components;
@using Passwork.Shared.ViewModels;
@using System.Runtime.CompilerServices;
@using System.ComponentModel;

@inject HttpClient HttpClient
@inject ISnackbar Snackbar
@inject ApiService ApiService
@inject HubClient HubClient
@inject IDialogService DialogService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-2 mt-4">
            <MudText Typo="Typo.h6" Class="px-4">/ Компания / Сейф / </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <AuthorizeView>
                <Authorized>
                    <MudNavMenu Class="mud-width-full">
                        <MudText Typo="Typo.h6" Class="px-4">Компании</MudText>
                        <MudDivider Class="my-2" />
                        @foreach (var com in ApiService.OwnerCompanies)
                        {
                            <MudNavGroup Title="@com.Name" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                                @if(com.SafeVms != null)
                                {
                                    @foreach (var safe in com.SafeVms)
                                    {
                                        <MudNavLink Icon="@Icons.Material.Filled.HealthAndSafety" IconColor="Color.Success">@safe?.Title</MudNavLink>
                                    }
                                }
                                <MudNavLink OnClick="@((e) => CreateSafe(com.Id, com.Name))" Icon="@Icons.Material.Filled.AddCircleOutline" IconColor="Color.Success">Создать сейф</MudNavLink>
                            </MudNavGroup>
                        }
                        @foreach (var com in ApiService.Companies)
                        {
                            <MudNavGroup Title="@com.Name" Icon="@Icons.Material.Filled.Group" IconColor="Color.Primary" Expanded="true">
                                @if(com.SafeVms != null)
                                {
                                    @foreach (var safe in com.SafeVms)
                                    {
                                        <MudNavLink Icon="@Icons.Material.Filled.HealthAndSafety" IconColor="Color.Success">@safe?.Title</MudNavLink>
                                    }
                                }
                            </MudNavGroup>
                        }
                    </MudNavMenu>
                </Authorized>
                <NotAuthorized>
                    <MudText Typo="Typo.body2" Color="Color.Error" Class="px-4">Требуется авторизация</MudText>
                </NotAuthorized>
            </AuthorizeView>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="9">
        <MudPaper Class="d-flex align-right justify-right mud-width-full py-8">
            <AuthorizeView>
                <Authorized>
                    <MudSimpleTable>
                        <thead>
                            <tr>
                                @foreach (var h in headings)
                                {
                                    <th>@h</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in rows)
                            {
                                <tr>
                                    @foreach (var x in row.Split())
                                    {
                                        <td>@x</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </Authorized>
                <NotAuthorized>
                    <MudText Typo="Typo.body2" Color="Color.Error" Class="px-4">Требуется авторизация</MudText>
                </NotAuthorized>
            </AuthorizeView>
        </MudPaper>
    </MudItem>
</MudGrid>


@code {

    protected override async Task OnInitializedAsync()
    {
        var provider = (CustomAuthStateProvider)AuthenticationStateProvider;
        var authenticated = await provider.GetAuthenticationStateAsync();
        bool? isAuthenticated = authenticated.User.Identity?.IsAuthenticated;
        if ((isAuthenticated is not null) && isAuthenticated == true)
        {
            HubClient.OnCompanyUpdated += HandleCompanyUpdated;
            await ApiService.LoadOwnerCom();
            await ApiService.LoadLinkedCom();
            StateHasChanged();
        }
    }

    private void HandleCompanyUpdated()
    {
        // Обновление списка компаний при получении обновлений
        InvokeAsync(async () =>
        {
            await ApiService.LoadOwnerCom();
            await ApiService.LoadLinkedCom();
            StateHasChanged();
        });
    }

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    async Task CreateSafe(Guid comId, string comName)
    {
        var parameters = new DialogParameters();
        parameters.Add("comId", comId);
        parameters.Add("comName", comName);

        var dialog = await DialogService.ShowAsync<CreateSafe>("Создать сейф", parameters, maxWidth);
    }



    string[] headings = { "ID", "Name", "Email" };
    string[] rows = {
        @"1 Krishna kpartner0@usatoday.com",
        @"2 Webb wstitle1@ning.com",
        @"3 Nathanil nneal2@cyberchimps.com",
        @"4 Adara alockwood3@patch.com",
        @"5 Cecilius cchaplin4@shinystat.com",
        @"6 Cicely cemerine9@soup.io",
    };
}